.input1 {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid #a5b4fc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
  background-color: #f2f2f2;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.app-container {
  width: 100%;
}

h3 {
  color: #a5b4fc;
  margin-top: -30px;
  font-weight: 400;
  text-shadow: 2px 2.5px 3px rgba(18, 60, 33, 0.25);
}

.loginlabel{
  padding: 12px 12px 12px 0;
  display: inline-block;
  align-self: flex-start;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoginOrganizer {
  border-radius: 5px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 0vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.WelcomeEnstay {
  padding-top: 30px;
  text-align: center;
  font-size: 24px;
  color: #333;
}

.button1 {
  width: 100%;
  background-color: #a5b4fc;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.button1:hover {
  background-color: #8a99e3;
}

@media (max-width: 768px) {
  #LoginOrganizer {
    padding: 10px;
  }
}
