.BookingOrganizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.infoSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.BookingOrganizer h2 {
  margin-right: 30px;
  border: 1px solid #a5b4fc;
  padding: 10px;
  border-radius: 5px;
  background-color: aliceblue;
}

.infoSection h2 {
  margin-right: 30px;
  border: 1px solid #a5b4fc;
  padding: 10px;
  border-radius: 5px;
  background-color: aliceblue;
}
