
.navbar-nav 
.nav-item 
.nav-link:hover {
    color: #ffffff;
    background-color: #6c74a0e8;
    border-radius: 10px;
  }

  .custom-dropdown-toggle {
    background-color: transparent !important; 
  }
  
  .custom-dropdown-toggle:focus {
    box-shadow: none !important;
  }
  
  .custom-dropdown-toggle:active {
    background-color: transparent !important; 
  }
  